<!doctype html>
    <html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#" >

    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content=""/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font-family: sans-serif;
                font-size: 100%;
          }
        </style>
        <title>miniml.io</title>
    </head>

    <body>
        <script type='text/javascript' src='./app/build/static/'></script>
        <h1>miniml.io</h1>
        <br />
        <br />
        <br />
        <h2>Receive your messages once a day.</h2>
        <h2>Take back your life from notifications.</h2>
        <br />
        <br />
        <br />
        <h2>Forward all your email to username@miniml.io</h2>
        <h2>Add your favorite RSS Feeds.</h2>
        <h2>Add your subreddits and twitter.</h2>
        <br />
        <br />
        <br />
        <h2>Be a happier, less anxious person.</h2>
        <h2>Get more good work done.</h2>
        <h2>Go do fun things.</h2>
        <br />
        <br />
        <br />
        <h2>$4 a month. 7 day free trial.</h2>
        <h2>No ads, no tracking, no selling your data, no investors.</h2>
        <br />
        <br />
        <br />
        <h2><a href="/app">Get Started</a></h2>

    </body>


</html>
