
<!doctype html>
    <html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#" >

    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content=""/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FullStack Retail</title>
    </head>

    <body>
        <script type='text/javascript' src='http://localhost:3000'></script>
    </body>

    <div id="root">API Server Running</div>
</html>
